<div class="example-container" style="padding: 80px">
    <mat-form-field>
        <mat-select placeholder="Select Match Type">
            <mat-option value="option">Test</mat-option>
            <mat-option value="option">One Day</mat-option>
            <mat-option value="option">T20</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Select Opposite Team">
            <mat-option value="option">England</mat-option>
            <mat-option value="option">Australia</mat-option>
            <mat-option value="option">India</mat-option>
            <mat-option value="option">Pakistan</mat-option>
            <mat-option value="option">Bangladesh</mat-option>
            <mat-option value="option">South Africa</mat-option>
            <mat-option value="option">West Indies</mat-option>
            <mat-option value="option">New Zealand</mat-option>
            <mat-option value="option">Other</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Select No. Of Batsmens">
            <mat-option value="option">4</mat-option>
            <mat-option value="option">5</mat-option>
            <mat-option value="option">6</mat-option>
            <mat-option value="option">7</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Select No. Of Ballers">
            <mat-option value="option">4</mat-option>
            <mat-option value="option">5</mat-option>
            <mat-option value="option">6</mat-option>
            <mat-option value="option">7</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Select No. Of Allrounders">
            <mat-option value="option">4</mat-option>
            <mat-option value="option">5</mat-option>
            <mat-option value="option">6</mat-option>
            <mat-option value="option">7</mat-option>
        </mat-select>
    </mat-form-field>
</div>