<main role="main" class="inner cover">
    <h1 class="cover-heading">This is Squad Selector.</h1>
    <p class="lead"></p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>

    <div class="col-lg-6 intro_col">
        <div class="intro_image">
            <div class="background_image" style="background-image:url(/Project/src/assets/images/hero-area.jpg)"></div>
            <img src="/Project/src/assets/images/home.jpg" alt="">
        </div>
    </div>

</main>